*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: rgb(173, 16, 16);
    padding: 20px;
    justify-content:space-between;
    align-items: center;
}
header img{
    width: 300px;
}

header h2{
    color: rgb(255, 255, 255);
}
header a{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.corpo{
    height: 100vh;
    display: flex;
}

.menu{
   background-color: rgb(245, 245, 245);
    width: 15%;
    color: #8496a0;
    border-right: solid 1px #8496a0;;
}
.divmenu{
    border-bottom: 1px solid #8496A0;
}
.setaa{
    font-size: 20px;
}

.menu div div{
    margin: 2%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
.menu div div img{
    height: 20px;
}
.menu div div p{
    font-size: 18px;
}
.menu div img{
    cursor: pointer;
}
.menu ul{
    margin-left: 15%;
    list-style: none;
}
.menu ul li{
    margin-bottom: 10px;
}
.s :hover{
    background-color: rgba(190, 188, 188, 0.719);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.ordem li:hover{
    background-color: rgba(190, 188, 188, 0.719);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.ordem1{
    display: block !important;
}
#animation{
    transition: 300ms;
}
.seta{
    transform: rotate(90deg);
    transition: 300ms;
}
.seta2{
    background-color: aqua !important;
}
.trocar{
    padding: 10px;
    cursor: pointer;
}
.trocar :hover{
    background-color: rgb(184, 119, 119);
    padding: 10px;
    border-radius: 10px;
    
}

.ativa{
    display: block !important;
}
.conteudo{
    background-color: rgb(255, 255, 255);
    width: 85%;
    
   
}
.ieb{
    background-color: rgb(173, 16, 16);
    padding: 25px;
    border-radius: 10px;
    margin-top: -5%;
    width: 300px;
    height: 189px;
    margin-left: 73%;
    visibility: hidden;
  color: white
}
.ieb a{
    cursor: pointer;
}
.ieb p a{
    text-decoration: none; 
    color: white;
}
.p{
    background-color: rgba(181, 172, 172, 0.615);
    width: 100%;
    padding: 1px;
    margin: 5px;
}
.um{
   
    visibility: visible;

}
.conteudo img{
    width: 100%;
}
