*{
    border: 0;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    background-color: rgb(133, 29, 29);
    padding: 20px;
    justify-content:space-between;
    align-items: center;
}

header p{
    color: rgb(255, 255, 255);
}

.corpo{
    height: 100vh;
    display: flex;
}

.menu{
    background-color: rgb(209, 204, 204);
    width: 15%;
}

.menu div{
    margin: 2%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
.menu div img{
    cursor: pointer;
}
#animation{
    transition: 300ms;
}
.seta{
    transform: rotate(90deg);
    transition: 300ms;
}
.ativa{
    display: block !important;
}
.conteudo{
    background-color: rgb(255, 255, 255);
    width: 85%;
}